/* body{
    background-color: rgba(245, 245, 220, 0.311);
} */

.container{
    display: block;
    margin: 0 auto;
}

.portrait{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

/* .proposEduc{
    display: flex;
} */

.proposEduc h1{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 20px;
}

.annee {
    font-size: medium;
    font-weight: bold;
}

#anneeUniv{
    font-weight: bold;
}

#skill h2{
    font-size: large;
    font-weight: bold;
}

#skill{
    margin-bottom: 10px;
}

#skill p{
    font-size: large;
    margin-bottom: 10px;
}

.skill_img{
    width: 50px;
    height: 30px;
    position: absolute;
    margin-left: 564px;
}

.skill_img_js {
    width: 50px;
    height: 30px;
    position: absolute;
    margin-left: 540px;
}

.skill_img_py{
    width: 50px;
    height: 30px;
    position: absolute;
    margin-left: 550px;
}

.skill_img_tll{
      width: 50px;
    height: 30px;
    position: absolute;
    margin-left: 530px;
}

footer{
    height: 34vh;
}

#contact_title h1{
    margin-top: 5px;
}

#contact p{
    font-size: large;
    margin-bottom: 10px;
}